@page "/"

<h1>Hello, world!</h1>

<TestLibrary.Component1></TestLibrary.Component1>

      Welcome to your new app.

Child : <DateTimeComponent></DateTimeComponent>
<SurveyPrompt Title="How is Blazor working for you?" />
