@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand ml-2">Admin</span>

        @if (!SignInManager.IsSignedIn(User))
        {
            <span style="float:right">
                <a class="btn btn-block btn-outline-secondary" asp-action="Register" asp-controller="Account"
                   asp-route-category="">
                    Register
                </a>

            </span>
            <span style="float:right">
                <a class="btn btn-block btn-outline-secondary" asp-action="Login" asp-controller="Account"
                   asp-route-category="">
                    Login
                </a>

            </span>
        }
        else
        {
            <span style="float:right">
                <a class="btn btn-block btn-outline-secondary" asp-action="Logout" asp-controller="Account"
                   asp-route-category="">
                    Logout
                </a>

            </span>
        }

    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            @* Put something useful here later : Write a logic that will bring all the categories and show it as link*@

            <vc:navigation-menu />
        </div>
        <div class="col-9">
            @*Child Pages are loaded*@
            @RenderBody()
        </div>
    </div>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</body>
</html>

