@page "/products"

@inject IProductRepository _repository
@inject NavigationManager _navigationManager

<button class="btn btn-primary" @onclick="NavigateToAddProduct"> Add New Product</button>

<table class="table table-bordered">
    <TableHeader ID="Product ID" Name="Product Name" Description="Description"
                 Cost="Price" Category="Category" />
    <tbody>
        @foreach (var item in products)
        {
            <TableRow Product="@item" OnDetail="ShowDetails" />
        }
    </tbody>
</table>
@if (ProductInfo != null)
{
    <ProductDetails Product="ProductInfo" />
}


@code {

    public List<Product> products { get; set; }

    public Product ProductInfo { get; set; }

    // When the Component is Loaded
    protected async override Task OnInitializedAsync()
    {
        products = await _repository.GetProducts();
    }

    public int ProductID { get; set; }

    public async Task ShowDetails(int productId)
    {
        ProductInfo = await _repository.GetProductById(productId);

    }

    public void NavigateToAddProduct()
    {
        _navigationManager.NavigateTo("/addproduct");
    }

}
