@model IEnumerable<string>

<a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home"
   asp-route-category="" >
    Home
</a>
<a class="btn btn-block btn-outline-secondary" asp-action="ContactUs" asp-controller="Home"
   asp-route-category="">
    Contact Us
</a>
@foreach (string category in @Model)
{
    <a class="btn btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home"
       asp-route-category="@category" asp-route-productpage="1">
        @category
    </a>
}